.navbarspace{
    display: flex;
    justify-content: space-between;

}
.nav-item{
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Roboto', sans-serif;
}
.navbar{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}